@model int
<div class="container">
    <nav class="inside-control">
        <div class="top">
            @for (int i = Model; i >= 0; i--)
            {
                var floorId = "Btn" + @i + 1;
                <button id="@floorId" name="@floorId">@i</button><br />
            }
        </div>
        <div class="bottom">
            <button>Start</button>
            <button>stop</button>
        </div>
    </nav>
    <section class="Lift">
        <div class="Lift-Body"></div>
    </section>
    <nav class="outside-floors">
        @for (int i = Model; i >= 0; i--)
        {
            var floorId = "Btn" + @i + 1;
                <div class="Floor">
                    Floor no @i;
                </div>
        }
    </nav>
</div>