*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.inside-control {
    float: left;
    width: 25%;
    height: 100%;
    position: relative;
}
.top{
    width: 100%;
    height: 60%;
}
.bottom {
    width: 100%;
    height: 40%;
}
.Lift {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}
.Lift-Body {
    width: 100%;
    height: 20%;
    position: absolute;
    background: black;
}
.outside-floors {
    float: left;
    width: 25%;
    height: 100%;
    position: relative;
}
.Floor {
    width: 80%;
    height: 10px;
    margin: 50px auto;
    background: green;
}